@font-face {
  font-family: "IntroRegular";
  src: url("../fonts/IntroRegular.ttf");
}
@font-face {
  font-family: "IntroRegularAlt";
  src: url("../fonts/Intro-Regular-Alt.otf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf");
}
@font-face {
  font-family: "Intro Light";
  src: url("../fonts/Intro-Light.otf");
}
@font-face {
  font-family: "Intro bold";
  src: url("../fonts/Intro-Bold.otf");
}
@font-face {
  font-family: "Intro-Bold-Alt";
  src: url("../fonts/Intro-Bold-Alt.otf");
}
body {
  color: #fff;
  min-width: 900px;
}
.wrapper_bg {
  width: 100%;
}
.color_header_footer {
  background-color: #f14e75;
}
a {
  text-decoration: none;
  display: block;
}
a.inline_link {
  display: inline;
}
.wrapper {
  width: 978px;
  margin: 0 auto;
}
/*-----------------------------------------------------------
                      Шапка
--------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.header .header__info {
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Intro Bold", serif;
}
.header .header__info:first-child img {
  width: 34px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 9px;
}
.header .header__info:first-child,
.header .header__info:last-child {
  background-color: #ce365b;
  width: 230px;
  font-family: "IntroRegular", serif;
  font-size: 12px;
  font-weight: normal;
}
.header .header__info:first-child:hover,
.header .header__info:last-child:hover {
  text-decoration: underline;
}
.header .header__info span {
  color: #ffa3b9;
  font-size: 14px;
  font-family: "IntroRegular", serif;
}
.header .header__info a {
  color: #fff;
}
.header .header__info a img {
  vertical-align: middle;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 32px;
}
/*-----------------------------------------------------------
                       Лого и НАВИГАЦИЯ
--------------------------------------------------------------*/
.first-nav {
  display: flex;
  justify-content: space-between;
  height: 180px;
}
.first-nav .first-nav__logo {
  line-height: 180px;
  width: 203px;
}
.first-nav .first-nav__logo a img {
  height: 108px;
  vertical-align: middle;
}
.first-nav .first-nav__navButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.first-nav .first-nav__navButton ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.first-nav .first-nav__navButton ul li {
  position: relative;
}
.first-nav .first-nav__navButton ul li:hover .ball {
  top: -20px;
  background: #ce365b;
}
.first-nav .first-nav__navButton ul li a {
  display: block;
  font-family: "IntroRegular", serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  color: #000;
  transition: all 300ms ease;
}
.first-nav .first-nav__navButton ul li a:before {
  position: absolute;
  top: 58px;
  left: 50%;
  width: 50px;
  height: 9px;
  margin-left: -25.5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ededed 50%, #e4dfdf 100%);
  content: "";
  transition: all 0.2s ease;
}
.first-nav .first-nav__navButton ul li a:hover {
  color: #ce365b;
}
.first-nav .first-nav__navButton ul li a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 110;
}
.first-nav .first-nav__navButton ul li a:hover:before {
  width: 40px;
  height: 8px;
  margin-left: -20px;
}
.first-nav .first-nav__navButton ul li a .ball {
  position: relative;
  display: block;
  top: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #1bbdce;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}
.first-nav .first-nav__navButton ul li a img {
  vertical-align: middle;
}
.first-nav .first-nav__navButton ul li:hover .ball {
  top: -22px;
  background: #f14e75;
}
.first-nav .first-nav__navButton ul li+li {
  margin-left: 70px;
}
.slider {
  width: 1000px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  left: -10px;
}
.slider .slider__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 400px;
  margin: 0;
  padding: 0;
}
.slider .slider__slide {
  width: 1000px;
  height: 400px;
  float: left;
  list-style: none;
  padding-left: 21px;
  position: relative;
}
.slider .slider__slide .slide__item {
  margin-left: 50px;
  margin-top: 25px;
  font-size: 40px;
  position: absolute;
  height: 202px;
  width: 347px;
  top: 21.2%;
  left: -21px;
  z-index: 999;
}
.slider .slider__slide .slide__item .first__text {
  font-family: "IntroRegularAlt", serif;
  font-size: 34px;
}
.slider .slider__slide .slide__item .second__text {
  font-family: "OpenSans", serif;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 20px;
}
.slider .slider__slide .slide__item a {
  color: #fff;
}
.slider .slider__slide .slide__item a span:hover {
  border-bottom: 2px solid #fff;
}
.slider .slider__slide .slide__item span.slider__button_next-slide,
.slider .slider__slide .slide__item span.slider__button_prev-slide {
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}
.slider .slider__slide .slide__item span.slider__button_next-slide:last-child,
.slider .slider__slide .slide__item span.slider__button_prev-slide:last-child {
  margin-left: 10px;
}
.slider .slider__slide .slide__text {
  background-color: rgba(227,65,104,0.98);
  position: absolute;
  height: 228px;
  width: 397px;
  top: 21.2%;
  left: -21px;
  z-index: 3;
}
.slider .slider__slide .slide__text span {
  display: block;
  margin-left: 20px;
  position: absolute;
  font-size: 40px;
  z-index: 999;
}
.color-bg-slider {
  background-color: #ecf3f5;
}
.events-of-the-month {
  text-align: center;
  height: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/events-of-the-month/events_month.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.events-of-the-month h2 {
  margin-top: 47px;
  margin-bottom: 50px;
  color: #626161;
  font-family: "IntroRegularAlt", serif;
  font-size: 34px;
  font-weight: normal;
}
.events-of-the-month .events-of-the-month__skier_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.events-of-the-month .events-of-the-month__skier_wrapper .events-of-the-month__skier {
  position: absolute;
  right: -200px;
  bottom: 110px;
  z-index: 105;
}
.events-of-the-month .events-of-the-month__skier_wrapper .events-of-the-month__elevator {
  position: absolute;
  left: -200px;
  top: 0px;
  z-indez: 105;
}
.events-of-the-month .events-of-the-month_wrapper {
  width: 978px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events {
  width: 297px;
  position: relative;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events img.flag {
  position: relative;
  z-index: 100;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events:first-child {
  margin-top: 24px;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events:last-child {
  margin-top: -24px;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events:before {
  position: absolute;
  right: 32px;
  top: 106px;
  background-color: #d0d0d0;
  width: 4px;
  height: 188px;
  z-index: 120;
  content: "";
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events .events-of-the-month__events__date {
  width: 51px;
  height: 51px;
  font-family: "Intro-Bold-Alt", serif;
  font-size: 30px;
  position: absolute;
  left: 28px;
  top: 19px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  z-index: 120;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events .events-of-the-month__events__text {
  width: 230px;
  height: 82px;
  position: absolute;
  font-family: "IntroRegular", serif;
  font-size: 18px;
  font-style: italic;
  left: 41px;
  top: 34px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  transform: rotate(-9deg);
  z-index: 120;
}
.events-of-the-month .events-of-the-month_wrapper .events-of-the-month__events .events-of-the-month__events__text a {
  color: #fff;
}
/*-----------------------------------------------------------
                   calculation weight form   
--------------------------------------------------------------*/
.calculation-weight .calculation-weight__title {
  color: #626161;
  text-align: center;
}
.calculation-weight .calculation-weight__title h2 {
  font-family: "IntroRegularAlt", serif;
  font-size: 34px;
  margin-bottom: 17px;
  font-weight: normal;
}
.calculation-weight .calculation-weight__title p {
  font-family: "Intro Light", serif;
  font-size: 22px;
  margin-bottom: 46px;
}
.calculation-weight .wrapper-form {
  background-color: #1dc2db;
  height: 400px;
}
.calculation-weight .wrapper-form .calculation-weight__form {
  padding: 50px;
}
.calculation-weight .wrapper-form .calculation-weight__form table {
  margin: 0 auto;
}
.calculation-weight .wrapper-form .calculation-weight__form table tr {
  height: 81px;
}
.calculation-weight .wrapper-form .calculation-weight__form table tr td {
  padding-left: 12px;
}
.calculation-weight .wrapper-form .calculation-weight__form table tr td label {
  font-family: "IntroRegular", serif;
  font-size: 18px;
}
.calculation-weight .wrapper-form .calculation-weight__form table tr td.text-right {
  text-align: right;
}
.calculation-weight .wrapper-form .calculation-weight__form input[type='text'] {
  background-color: #12a9c4;
  color: #fff;
  text-align: center;
  width: 80px;
  height: 42px;
  font-family: "OpenSans", serif;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #1cbeda;
  margin-left: 13px;
  margin-right: 35px;
}
.calculation-weight .wrapper-form .calculation-weight__form input[type='text']:first-child {
  margin-left: 0;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav {
  display: inline-block;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav .calculation-weight__form__flex-wrapper_button {
  display: flex;
  justify-content: center;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav input[type='radio'] {
  display: none;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav input[type='radio']:checked+label {
  background-color: #fff;
  color: #1dc2db;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav label {
  display: block;
  width: 182px;
  height: 40px;
  border: 2px solid #41edff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 35px;
  user-select: none;
  cursor: pointer;
  font-family: "OpenSans", serif;
  font-size: 14px;
  font-weight: bold;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav label:hover {
  background-color: #41edff;
}
.calculation-weight .wrapper-form .calculation-weight__form .calculation-weight__form__border-nav label.label_indent {
  margin-left: 20px;
}
.calculation-weight .calculation-weight__button {
  background-color: #1dc2db;
  width: 250px;
  height: 55px;
  border: 2px solid #fff;
  font-family: "IntroRegularAlt", serif;
  font-size: 22px;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.calculation-weight .calculation-weight__button:hover {
  background-color: #41edff;
}
.footer a {
  color: #fff;
}
.footer .footer__men {
  display: flex;
  justify-content: center;
  height: 271px;
  background: radial-gradient(#e2f2f4, #fff);
  position: relative;
  z-index: 100;
}
.footer .footer__men .footer__men__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.footer .footer__men .footer__men__wrapper .footer__men_going {
  position: absolute;
  z-index: 100;
  bottom: -51px;
  left: 0px;
}
.footer .footer__men .footer__men__text {
  position: relative;
  margin: 57px 0px 88px;
  background-color: #fff;
  width: 351px;
  height: 123px;
  box-shadow: 0 0 0 5px #d3eff2, 0 0 0 10px #fff;
  color: #626161;
}
.footer .footer__men .footer__men__text h2 {
  margin-top: 30px;
  font-family: "IntroRegular", serif;
  font-size: 20px;
  font-weight: normal;
  margin-left: 32px;
}
.footer .footer__men .footer__men__text p {
  font-family: "OpenSans", serif;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 32px;
}
.footer .footer__men .footer__men__text p span {
  margin-right: 6px;
  font-family: "Intro-Bold-Alt", serif;
  font-size: 20px;
  color: #1bbbd9;
}
.footer .footer__men .footer__men__text:before,
.footer .footer__men .footer__men__text:after {
  position: absolute;
  top: 133px;
  background: linear-gradient(to right, #abbbbd, #c3d3d5);
  width: 10px;
  height: 81px;
  content: "";
}
.footer .footer__men .footer__men__text:before {
  right: 40px;
}
.footer .footer__men .footer__men__text:after {
  left: 40px;
}
.footer .footer__info {
  background-color: #f14e75;
  display: flex;
  justify-content: center;
  height: 200px;
  min-width: 994px;
}
.footer .footer__info h2 {
  font-family: "IntroRegular", serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 47px;
  margin-bottom: 23px;
}
.footer .footer__info p {
  font-family: "OpenSans", serif;
  font-size: 13px;
  margin-bottom: 16px;
}
.footer .footer__info p span {
  font-weight: bold;
  margin-left: 5px;
}
.footer .footer__info .footer__info__contacts {
  width: 330px;
}
.footer .footer__info .footer__info__time-job {
  position: center;
  width: 330px;
}
.footer .footer__info .footer__info__time-job h2 {
  margin-left: 96px;
}
.footer .footer__info .footer__info__time-job p {
  margin-left: 96px;
}
.footer .footer__info .footer__info__social {
  width: 330px;
}
.footer .footer__info .footer__info__social .footer__info__social__item {
  display: flex;
  margin-top: 47px;
  margin-bottom: 51px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.footer .footer__info .footer__info__social .footer__info__social__item li {
  display: inline-block;
  position: relative;
}
.footer .footer__info .footer__info__social .footer__info__social__item li a {
  display: block;
}
.footer .footer__info .footer__info__social .footer__info__social__item li a:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
}
.footer .footer__info .footer__info__social .footer__info__social__item li a .footer__info__social__item__ball {
  display: block;
  position: relative;
  top: 0;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #e33861;
  line-height: 40px;
  text-align: center;
  z-index: 100;
}
.footer .footer__info .footer__info__social .footer__info__social__item li a .footer__info__social__item__ball img {
  vertical-align: middle;
}
.footer .footer__info .footer__info__social .footer__info__social__item li+li {
  margin-left: 20px;
}
.footer .footer__info .footer__info__social span {
  margin-right: 4px;
}
